.flex-col {
    display: flex;
    flex-direction: column;
}

.left {
    float: left;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.flex {
    display: flex;
}

.cursorPointer {
    cursor: pointer;
}

.flexBasis50 {
    flex-basis: 50%;
}

.textCenter {
    text-align: center;
}

.fontSize-1_5 {
    font-size: 1.5rem;
}

.fontSize-1_25 {
    font-size: 1.25rem;
}

.fontSize-2 {
    font-size: 2.0rem;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.mb-4 {
    margin-bottom: 4px;
}

.m-4 {
    margin: 4px;
}

.red {
    color: red;
}
