.todo {
    width: 300px;
    display: inline-block;
}

.todoBasis {
    flex-basis: 33.3%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.cursorPointer {
    cursor: pointer;
}

.right {
    color: 'blue',
}

.size {
    width: 400px;
}

.modal {
    width: 300px;
    height: 150px;
    background-color: #555555;
    left: 50%;
    top: 50%;
    position: relative;
    transform : translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    
}

.modalBackGround {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}