.todo {
    width: 300px;
    display: inline-block;
}

.todoBasis {
    flex-basis: 33.3%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.cursorPointer {
    cursor: pointer;
}

.size {
    width: 400px;
}

.modal {
    width: 300px;
    height: 150px;
    background-color: aquamarine;
    left: 50%;
    top: 50%;
    position: relative;
    transform : translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    border: 2px solid black;
}

.modalBackGround {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(245, 245, 220, 0.7);
}